:root{
  --primary:#282c34;
  --background:rgb(1, 0, 27);
}
body{
  background-color: var(--background);
  color:white;
}

.App {
  text-align: center;
}

.App-logo {
  width: 3vw;
  min-width: 40px;
  pointer-events: none;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.form-control{
  background-color: black;
  color: white;
}
.form-control:focus{
  background-color: black;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

.todo-item{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15)!important;
  border: 2px solid rgb(58, 67, 254);
}

.btn-delete{
  font-weight: 600;
  font-size: larger;
}
.editinput{
  background: var(--background);
  border: 0;
  color: white;
  outline: none;
}
code{
  color: white;
}